# Dependencies
node_modules/

# Build output
dist/
.angular/
tmp/
out-tsc/

# IDE
.vscode/*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json

# OS files
.DS_Store
Thumbs.db

# Environment
.env
.env.local

# Logs
*.log
npm-debug.log*

# Misc
*.tgz
package-lock.json
.firebase/

